BASE_URL=http://localhost:4444
FRONTEND_URL=http://localhost:4444
HTTP_PORT=4444
BASIC_AUTH_USERNAME=root
BASIC_AUTH_HASHED_PASSWORD=$2a$10$jRb2qniNcoCyQM23T59RfeEQUbgdAXfR6S0scynmKfJa5Gj3arGJa
COOKIE_SECRET_KEY=f2rkbev2yxhk5viz77ok4rxfip6npjpm
DB_DSN=database/ADMIN.db
DB_DRIVER_NAME=sqlite3
_DB_DSN=user=postgres password=1234 dbname=ADMIN host=localhost port=5432 sslmode=disable
_DB_DRIVER_NAME=postgres
DB_AUTOMIGRATE=false
JWT_SECRET_KEY=mhaitpm4v3mesosefepyupo6qzpbvidc
NOTIFICATIONS_EMAIL=''
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=no.reply.@gmail.com
SMTP_PASSWORD=*******
SMTP_FROM=APP <no.reply.@gmail.com>

STATIC=static
ASSETS=static/assets
UPLOAD=static/uploads
SECRET_KEY=92086f0f1e255c334447d8e1760ef0a2f0afce5c377df2d7651f9520f3dcd1e7 #openssl rand -hex 32
ALGORITHM=HS256
LANG=en
FALLBACK_LANG=en
TOKEN_EXPIRE_HOURS=1440
UPLOAD_SIZE=104857600

ENABLE_APP=app,role_app,role_app_menu,role_app_menu_table
ENABLE_USER=user_role,column_level_access,row_level_access
CORE_TABLES=lang,role,user,users,user_role,app,menu,table,menu_table,role_app,role_app_menu,role_app_menu_table,user_log,custom_table,custom_form,column_level_access,row_level_access,translate_table,translate_table_field
ALLOW_CLI_RUN_QUERIES=true
ACTIONS_NOT_TO_LOG=apps,menu,tables,chk_token,chk_session,chkToken,chkSession,read,r
BROADCAST_CHANGES=create_update,create,update,delete,c,u,d

USE_S3_STORAGE=false
S3_BUCKET=uploads
AWS_ACCESS_KEY_ID=apdxYOr21c9dg86cY3jK
AWS_SECRET_ACCESS_KEY=ItZBwqt5GapWxagrcI8uRO9H89n9fhgJ9vyYqpmu
_AWS_SESSION_TOKEN= # Optional, only if you're using temporary credentials
AWS_REGION=us-east-1
AWS_ENDPOINT=127.0.0.1:3000
S3_FORCE_PATH_STYLE=true
S3_DISABLE_SSL=false
S3_SKIP_SSL_VERIFY=true

ETLX_DEBUG_QUERY=true
# if not set to true only etlx/run/{name} is allowed, it locates the config in the db and the executes it
ETLX_ALLOW_CLI_CONFIG=true
# requires a record in the server side where the user has to have access before executing the config
ETLX_VALIDATE_ETLX_ACCESS=true
# validadates the queries from the db vs submited from cliente use in combination with ETLX_ALLOW_CLI_CONFIG=true and ETLX_VALIDATE_ETLX_ACCESS=true
# this make sure the config is not 
ETLX_VALIDATE_CLI_CONF_WITH_DB=true

EXPORT_CONN_TIMEOUT=3600
EXPORT_ENC_KEY=ItZBwqt5GapWxagrcI8uRO9H89n9fhgJ9vyYqpmu
EXPORT_ADMIN_DB_TABLES=app,table,user_log,custom_table,custom_form,role_row_level_access,column_level_access,row_level_access,translate_table,translate_table_field,table_schema,cron,cron_log

USE_LDAP_AUTH=false
LDAP_URL = "ldap://localhost:1389"
LDAP_BIND_USER = "cn=admin,dc=example,dc=com"
LDAP_PASSWORD = "admin"
LDAP_BASE_DN = "dc=example,dc=com"
LDAP_SKIP_VERIFY_CERT = true
LDAP_SEARCHREQ_FILTER = "(|(uid=%[1]s)(cn=%[1]s)(mail=%[1]s))"
# LDAP tested on docker image: osixia/openldap:1.5.0 managed by docker image: osixia/phpldapadmin:0.9.0

#ARROW FLIGHT
ENABLE_ARROW_FLIGHT=false
ARROW_FLIGHT_ADDR=:50051

# Enable / disable TLS
# Enable / disable TLS
# Generate CA
#openssl genrsa -out ssl/ca-key.pem 4096
#openssl req -new -x509 -days 365 -key ssl/ca-key.pem -out ssl/ca-cert.pem -subj "/CN=Test CA"
# Generate server certificate
#openssl genrsa -out ssl/server-key.pem 4096
#openssl req -new -key ssl/server-key.pem -out ssl/server.csr -subj "/CN=localhost"
#openssl x509 -req -days 365 -in ssl/server.csr -CA ssl/ca-cert.pem -CAkey ssl/ca-key.pem -CAcreateserial -out ssl/server-cert.pem
ENABLE_TLS=false
# Paths to cert and key
TLS_CERT_FILE=ssl/server-cert.pem
TLS_KEY_FILE=ssl/server-key.pem
TLS_CA_CERT_FILE=ssl/ca-cert.pem

DYN_LOGIN_TABLE=users
DYN_LOGIN_USER_ID_FIELD=user_id
DYN_LOGIN_ROLE_ID=3
DYN_LOGIN_USERNAME_FIELD=username
DYN_LOGIN_EMAIL_FIELD=email
DYN_LOGIN_PASSWORD_FIELD=password
DYN_LOGIN_ACTIVE_FIELD=active

RATE_LIMITING=true
#RATE_LIMITING_DB_PATH='file::memory:?cache=shared'
RATE_LIMITING_DB_PATH='file:memdb1?mode=memory&cache=shared&_journal_mode=MEMORY&_synchronous=OFF&_busy_timeout=5000'
RATE_LIMITING_DB_THREADS=1
RATE_LIMITING_DB_MEMORY_LIMIT=500MB
RATE_LIMITING_REQUESTS_PER_MINUTE=500

# OAUTH 2

# TRAEFIK
TRAEFIK_TMPL_PATH=templates/customer-router.yaml
TRAEFIK_DYNAMIC_DIR=/etc/traefik/dynamic/tenants

# MAIL templates
RECOVER_PASS_TMPL_PATH=templates/recover-pass.html
CONFIRM_EMAIL_TMPL_PATH=templates/confirm-email.html
TWO_FACTOR_CODE_TMPL_PATH=templates/two-factor-code.html

TWO_FACTOR_CODE_EXP_IN_MIN=5

# TELEMETRY
OTEL_ENABLED=false
# https://pkg.go.dev/go.opentelemetry.io/otel/exporters/otlp/otlplog/otlploghttp
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_COMPRESSION=gzip

# SSE FOR REALTIME SEVER EVENTS SUBSCRIPTION
SSE_ENABLE=true
SSE_SERVER_PORT=5555

# LOCK OUT DUE TO TOO MANY FAILED LOGIN ATTEMPTS
LOCKOUT_ENABLED=true
LOCKOUT_THRESHOLD=3

# ENABLE DDB QUACK PROTOCOL SERVER
QUACK_ENABLED=false

# ETLX DUCKDB SECURITY VARIABLE
#ETLX_DUCKDB_OPTIONS="?allowed_directories=['/tmp','./database','./static']&enable_external_access=true&allowed_configs=['memory_limit','threads']&lock_configuration=true"
ETLX_DUCKDB_ALLOWED_DIRECTORIES="SET allowed_directories = ['./database','./static'];"
ETLX_DUCKDB_EXTERNAL_ACCESS="SET enable_external_access = false;"
ETLX_DUCKDB_ALLOWED_CONFIGS="SET allowed_configs = ['memory_limit','threads'];"
ETLX_DUCKDB_LOCK_CONFIGURATION="SET lock_configuration = true;"
