db.sqlite
bin/
tmp/
build-errors.log
static/uploads/
ADMIN.db

**/uploads
*.db-wal
*.db-shm
*.xls*
*.db
*.sqlite
database/*.db
dist
build
*.duckdb
*.wal
*.ipynb
*.env
!static/conf
*.zip
*.rar
*.gz
**/*.rar
*.gz
*.csv
*.parquet
tmp
database/*.json
*.parquet
.venv
tf/
docs/resources/
_public/
resources/_gen/
.vscode/
.env
.vercel
node_modules
.hugo_build.lock
*.sh
*.log
ssl
saas_model.md
!docs/assets/install.sh
!docs/public/install.sh
c7.service
saas/
.duckdb
ui
parep
*.test.sql
keys
--static/conf
litestream.yml
*.ltx
ADMIN.db
database/ADMIN.db