db.sqlite
bin/
tmp/
build-errors.log
static/uploads/

**/uploads
*.db-wal
*.db-shm
*.xls*
*.db
*.sqlite
!ADMIN.db
dist
build
*.duckdb
!ADMIN.duckdb
*.wal
*.ipynb
!db.ipynb
*.env
!static/conf
*.zip
*.rar
*.gz
**/*.rar
*.gz
*.csv
*.parquet
tmp
database/*.json