db.sqlite
bin/
tmp/
build-errors.log
static/uploads/

**/uploads
*.db-wal
*.db-shm
*.xls*
*.db
*.sqlite
!ADMIN.db
dist
build
*.duckdb
!ADMIN.duckdb
*.wal
*.ipynb
!db.ipynb
!app.ETLX.ipynb
*.env
!static/conf
*.zip
*.rar
*.gz
**/*.rar
*.gz
*.csv
*.parquet
tmp
database/*.json
*.parquet
.venv
tf/
docs/resources/
_public/
resources/_gen/
.vscode/
.env
.vercel
node_modules
.hugo_build.lock
*.sh
*.log
ssl-/
saas_model.md
!docs/assets/install.sh
!docs/public/install.sh
c7.service
saas/